.form {
  min-width: 700px;
  max-width: 1000px;
  background-color: #f9f9f9;
  margin: 0 auto;
  padding-left: 45px;
  padding-right: 45px;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  color: #171717;
}
.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.2px;
  padding-top: 64px;
  padding-bottom: 79px;
  box-sizing: border-box;
}
.subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 23.5px;
  padding-top: 32px;
  padding-bottom: 32px;
  box-sizing: border-box;
}
.inform {
  padding-top: 24px;
  box-sizing: border-box;
}
.note {
  font-weight: 400;
  font-size: 14px;
}
span {
  color: #d83933;
}
.column {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 32px;
  box-sizing: border-box;
}
.item {
  display: flex;
  flex-direction: column;
  width: 48%;
  position: relative;
}
.inscript {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 8px;
  box-sizing: border-box;
}
input,
select {
  outline: none;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #adadad;
  padding: 8px 10px;
  box-sizing: border-box;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #171717;
  background-color: #fff;
}
.readonly {
  background-color: #efefef;
  color: #747474;
}
input::placeholder {
  color: #747474;
  font-size: 16px;
  font-weight: 400;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  opacity: 0;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

input[type="date"],
input[type="date"]:hover,
input[type="date"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}
.icon {
  appearance: none;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 10px top 8px;
}
.icon-date {
  appearance: none;
  background-image: url(../img/date-icon.svg);
  background-repeat: no-repeat;
  background-position: right 10px top 8px;
}
.relative {
  position: relative;
  width: 100%;
}
.icon1 {
  position: absolute;
  right: 10px;
  top: 10px;
}
.icon-search {
  appearance: none;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: right 10px top 8px;
}
input[type="checkbox"] {
  display: none;
}
.el + label > span.checkflag {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid #adadad;
  border-radius: 2px;
}
.align {
  display: flex;
  justify-content: center;
}
.checklabel {
  display: flex;
  align-items: center;
}

input[type="checkbox"]:checked + label > span.checkflag {
  background: #0050d8;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
span.text {
  width: 90%;
  padding-left: 8px;
  box-sizing: border-box;
  color: #171717;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
}
.purged {
  display: flex;
  align-items: center;
  padding-top: 112px;
  padding-bottom: 40px;
  box-sizing: border-box;
}
.marg-none {
  margin-bottom: 0;
}
input:focus,
select:focus,
input[type="phone"]:focus,
input[type="email"]:focus {
  color: #0050d8;
  box-shadow: 2px 4px 4px rgba(46, 97, 145, 0.281);
}
.btn-box {
  display: flex;
  justify-content: end;
  padding-top: 16px;
  padding-bottom: 110px;
  box-sizing: border-box;
}
.button {
  width: 69px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: #0050d8;
  color: #fff;
  text-align: center;
}
input[type="button"]:focus {
  background-color: #148ee5;
  border: 1px solid #0050d8;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
}
